body {
    background-color: antiquewhite;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container {
    text-align: center;
    margin: 0 auto;
}

#searchBox {
    margin: 20px;
}

#movie-table {
    max-width: 800px;
    margin: 0 auto;
}

.movie {
    display: inline-block;
    width: 200px;
    height: 200px;
    background-color: aqua;
}

@media only screen and (max-width: 500px) {
    #movie-table {
        margin: 0 auto;
    }

    .movie {
        display: inline-block;
        width: 100px;
        height: 100px;
        background-color: aqua;
    }
}

